

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Roboto, 'Courier New',
    monospace;
}

.gametitle{
  position: auto;
  width: 100%;
  max-height: auto;

  font-family: Menlo;
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: auto;
  text-align: center;

  color: #DDDDDD;

}

.gamestart{
  text-align: center;
  background-color: #8561CA;
  color: white;
  font-family: Monaco;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 144px;
  padding: 20px 50px;
  border: 2px solid #000000;
  border-radius: 20px;
  text-decoration: none;
}

.gamestart:hover {
  background-color: #AA69FC;
  color: black;
  transition: background-color .5s;
  transition: color .25s;
}

.buttonbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

#Prompt {
  font-size: xxx-large;
  text-align-last: center;
  color: white;
}

.answers {
  padding-top: 8%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto;
}

figcaption {
  font-size: x-large;
}