code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Roboto, 'Courier New', monospace;
}

.result{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: justify;

    color: #000000;
}

.resultsTitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: auto;
    align-items: center;
    display: flex;
    color: #000000;
    padding: 10px 10px;
}

.resultsInfoRow{
    display: flex;
    padding: 10px 10px;
}

.resultsInfoColumn{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    padding: 10px 10px;
    line-height: auto;
    text-align: center;
    flex: 50%;

}

.resultsAlbumCover{
    max-height: 50%;
    max-width: 50%;

    border: 2px solid #FFFFFF;
}

.restart{
    text-align: center;
  background-color: #8561CA;
  color: white;
  font-family: Monaco;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  padding: 10px 30px;
  border: 2px solid #000000;
  border-radius: 20px;
}

.restart:hover {
    background-color: #AA69FC;
    color: black;
  }